/ENV

#key_pairs
.pem

*.py[cod]
foo.py

#pickles
*.pkl

#csv
*.csv

#zip
*.zip

#shell script to update repo
update_repo.sh

#information that's good to know, but constantly in flux
good_to_know.txt

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
