Flask==0.9
Flask-Bootstrap==2.2.2-1
Flask-WTF==0.8.2
Jinja2==2.6
MySQL-python==1.2.4
PyYAML==3.10
WTForms==1.0.3
Werkzeug==0.8.3
distribute==0.6.31
inflect==0.2.3
matplotlib==1.2.0
networkx==1.7
nltk==2.0.4
numpy==1.6.2
pandas==0.10.1
pycurl==7.19.0
pymongo==2.4.2
python-dateutil==2.1
python-oembed==0.2.1
pytz==2012j
scikit-learn==0.13
scipy==0.11.0
six==1.2.0
twitter==1.9.1
wsgiref==0.1.2
