{% extends "layout.html" %}
{% block body %}
<iframe src="http://www.slideshare.net/slideshow/embed_code/16386080" width="726" height="605" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/tehkevin1/kevin-teh-insight-presentation" title="Kevin teh insight presentation" target="_blank">Kevin teh insight presentation</a> </strong> from <strong><a href="http://www.slideshare.net/tehkevin1" target="_blank">Kevin Teh</a></strong> </div>
{% endblock %}
