<title>Kevin Teh - Disambiguate</title>

{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}


{% block body_content %}

<script type = "text/javascript" src="/static/d3.v3.min.js"></script>
<style>

.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 14px sans-serif;
}

</style>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

var width = 960,
    height = 900

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

var force = d3.layout.force()
	.gravity(.05)
	.distance(100)
	.charge(-100)
	.size([width, height]);

var json = {{ graph|safe}}

force
  .nodes(json.nodes)
  .links(json.links)
  .start();

var link = svg.selectAll(".link")
  .data(json.links)
.enter().append("line")
  .attr("class", "link");

var node = svg.selectAll(".node")
  .data(json.nodes)
.enter().append("g")
  .attr("class", "node")
  .call(force.drag);

node.append("image")
  .attr("xlink:href", "http://www.veryicon.com/icon/ico/Internet%20%26%20Web/Social%20Button%201/twitter.ico")
  .attr("x", -8)
  .attr("y", -8)
  .attr("width", 24)
  .attr("height", 24);

node.append("text")
  .attr("dx", 12)
  .attr("dy", ".35em")
  .text(function(d) { return d.name });

force.on("tick", function() {
link.attr("x1", function(d) { return d.source.x; })
    .attr("y1", function(d) { return d.source.y; })
    .attr("x2", function(d) { return d.target.x; })
    .attr("y2", function(d) { return d.target.y; });

node.attr("transform", function(d) {
													return "translate(" + d.x + "," + d.y + ")"; });
												});

</script>


	<div class="container">

		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
		    <a class="brand" href="/">Twitter Search</a>
		  </div>
		</div>
	</div> <!-- /container -->

{% endblock %}
