<title>Kevin Teh - Disambiguate</title>

{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}


{% block body_content %}

<script type = "text/javascript" src="/static/d3.v3.min.js"></script>
<script type = "text/javascript">d3.select("body").append("p").text("d3 is active");</script>
	<div class="container">

		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
		    <a class="brand" href="/">Twitter Search</a>
		  </div>
		</div>

	</div> <!-- /container -->

{% endblock %}
