<!DOCTYPE HTML>

<head>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap-responsive.min.css"/>
	<link rel="stylesheet" type="text/css" href="/static/style.css"/>

	<title>cluster-pluck</title>

</head>

<body>
	<script type = "text/javascript" src="/static/d3.v3.min.js"></script>
	<script>
	var width = 960,
	    height = 450

	var svg = d3.select("body").append("svg")
	    .attr("width", width)
	    .attr("height", height);

	var force = d3.layout.force()
		.gravity(.05)
		.distance(100)
		.charge(-100)
		.size([width, height]);

	var json = {{ graph|safe}}

	force
	  .nodes(json.nodes)
	  .links(json.links)
	  .start();

	var link = svg.selectAll(".link")
	  .data(json.links)
	.enter().append("line")
	  .attr("class", "link");

	var node = svg.selectAll(".node")
	  .data(json.nodes)
	.enter().append("g")
	  .attr("class", "node")
	  .call(force.drag);

	node.append("image")
	  .attr("xlink:href", "http://www.veryicon.com/icon/ico/Internet%20%26%20Web/Social%20Button%201/twitter.ico")
	  .attr("x", -8)
	  .attr("y", -8)
	  .attr("width", 24)
	  .attr("height", 24);

	node.append("text")
	  .attr("dx", 12)
	  .attr("dy", ".35em")
	  .text(function(d) { return d.name });

	force.on("tick", function() {
	link.attr("x1", function(d) { return d.source.x; })
	    .attr("y1", function(d) { return d.source.y; })
	    .attr("x2", function(d) { return d.target.x; })
	    .attr("y2", function(d) { return d.target.y; });

	node.attr("transform", function(d) {
														return "translate(" + d.x + "," + d.y + ")"; });
													});


	</script>

	<div class="container">

		<div class="navbar navbar-inverse navbar-fixed-top">

			<div class="navbar-inner">
		    <a class="brand" href="/">Twitter S.R.E</a>

				<form action="/">
					<input class="search-input" type="text" id="navbar-search" placeholder="Search" name="q" autocomplete="off" spellcheck="false">
				</form>

		  </div>

		  </div>

		</div>
	</div> <!-- /container -->

</body>
