<!DOCTYPE HTML>

<head>
	<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap-responsive.min.css"/>
	<link rel="stylesheet" type="text/css" href="/static/style.css"/>

<title>Twitter S.R.E.</title>

</head>

<body>
	<div class="container">

		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
		    <a class="brand" href="/">Twitter S.R.E.</a>
				<form action="/">
					<input class="search-input" type="text" id="navbar-search" placeholder="Search" name="q" autocomplete="off" spellcheck="false">
				</form>
		  </div>
		</div>

		{% if tweet_ids == [] %}
			<div class = "hero-unit jumbotron">
				<h1>See what's happening <strong> right now </strong></h1>
				<form method="get">
				    <input type="text" id="q" name="q" autocomplete="off">
				    <button type="submit" class="btn btn-primary teh">Search</button>
				</form>
			</div>
		{% endif %}

		<div class="row">
			{% if filter != "" %}
				<div class="span9">
			{% else %}
				<div class="span3">
			{% endif %}
				{% if tweet_ids != [] %}
					<h2 class="column_title"> Results for <strong>{{query}}</strong>
					{% if filter != "" %}
						as in {{filter}}
					{% endif %}
					</h2>
					{% for id in tweet_ids %}
						<blockquote class="twitter-tweet"><a href="https://twitter.com/twitterapi/status/{{id}}"></a></blockquote>
				  {% endfor %}
				{% endif %}
			</div>

			{% if recommendations != [] %}
				<div class="span9">
					<div class="right-side">

						<div class = "row">
							<h4>
								Were you looking for <strong>{{query}}</strong> as in...
							</h4>
						</div>

						<div class="row">
							{% for column, clique in recommendations %}
								<div class="span3">
									<div class="category-wrapper">
										<strong> <a class="pretty-link"
																href="/?q={{query}}&filter={{clique}}">
																{{clique}}
										</a> </strong>
									</div>
								</div>
							{% endfor %}
						</div>

						<div class="row recommendations">
							<div class = "row">
								{% for column, clique in recommendations %}
									<div class="span3 recommendation_list">
										{% for id in column %}
											<blockquote class="twitter-tweet"><a href="https://twitter.com/twitterapi/status/{{id}}"></a></blockquote>
										{% endfor %}
									</div>
							  {% endfor %}
							</div> <!-- /row -->
						</div> <!-- /row -->

						<div class="row">
							<p id="how_recs"><strong>
								<a class="pretty-link" href="/graph?G={{graph}}">How were these suggestions generated?</a>
							</strong></p>
						</div> <!-- /row -->

					</div>
				</div>
			{% endif %}
		</div> <!-- /row -->

		{% if debug == True %}
			{% if tweet_ids != [] %}
				<div class="row">
					<div class="span12">
						<strong> Word count for {{query}} </strong>
						<br> </br>
						<strong> Total number of words: {{len}}</strong>
					{% for key in keys %}
				    <span class=count>{{ key }} {{ count[key] }} </span>
				  {% endfor %}
					</div>
				</div>
			{% endif %}
		{% endif %}
	</div> <!-- /container -->
</body>
