<title>Kevin Teh - Disambiguate</title>

{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}


{% block body_content %}

	<div class="container">
	  <div class="row">
	    <div class="span4 offset4">
				<form method="get">
				    <input type="text" id="q" name="q" autocomplete="off">
				    <button type="submit" class="btn btn-primary teh">Submit</button>
				</form>

	    </div>
	  </div> <!-- /row -->

		<div class="row">
			<div class="span6">
				<strong> Word count for {{query}} </strong>
				<br> </br>
				<strong> Total number of words: {{len}}</strong>
			{% for key in keys %}
		    <p class=count>{{ key }} {{ count[key] }} </p>
		  {% endfor %}
			</div>

			<div class="span6">
				<strong> Results for {{query}} </strong>
			{% for tweet in tweets %}
		    <p class=tweet>{{ tweet }}</p>
		  {% endfor %}
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
{% endblock %}
