<!DOCTYPE HTML>

<head>

<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js">
	</script>

	<script type="text/javascript" src="/static/jquery.highlight.js">
	</script>

	<script>
		$(document).ready(function() {
			{%  for _, clique in recommendations%}
				var keywords = "{{clique}}".split(" ")
				for (var i=0; i<keywords.length; i++) {
					$('#rec_list{{loop.index}}').highlight(keywords[i]);
				}
			{% endfor %}
		});
	</script>


	<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap-responsive.min.css"/>
	<link rel="stylesheet" type="text/css" href="/static/style.css"/>

<title>Twitter S.R.E.</title>

</head>

<body>
	<div class="container">

		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
		    <a class="brand" href="/">Twitter S.R.E.</a>
				<form action="/">
					<input class="search-input" type="text" id="navbar-search" placeholder="Search" name="q" autocomplete="off" spellcheck="false">
				</form>
		  </div>
		</div>

		{% if tweet_ids == [] %}
			<div class = "hero-unit jumbotron">
				<h1>See what's happening <strong> right now </strong></h1>
				<form method="get">
				    <input type="text" id="q" name="q" autocomplete="off">
				    <button type="submit" class="btn btn-primary teh">Search</button>
				</form>
			</div>
		{% endif %}

		<div class="row">
			{% if filter != "" %}
				<div class="span9">
			{% else %}
				<div class="span3">
			{% endif %}
				{% if tweet_ids != [] %}
					<h2 class="column_title"> Results for <strong>{{query}}</strong>
					{% if filter != "" %}
						as in {{filter}}
					{% endif %}
					</h2>
					{% for id in tweet_ids %}
						<blockquote class="twitter-tweet"><a href="https://twitter.com/twitterapi/status/{{id}}"></a></blockquote>
				  {% endfor %}
				{% endif %}
			</div>

			{% if recommendations != [] %}
				<div class="span9">
					<h2 class="column_title">
						Were you looking for {{query}} as in...
					</h2>
					<div class = "row">
						{% for column, clique in recommendations %}
							<div class="span3 recommendation_list" id="rec_list{{loop.index}}">
								<div class="category-wrapper">
									<strong> <a class="pretty-link"
															href="/?q={{query}}&filter={{clique}}">
															{{clique}}
									</a> </strong>
								</div>
								{% for id in column %}
									<blockquote class="twitter-tweet"><a href="https://twitter.com/twitterapi/status/{{id}}"></a></blockquote>
								{% endfor %}
							</div>
					  {% endfor %}
					</div> <!-- /row -->
					<div class="row">
						<p id="how_recs"><strong>
							<a class="pretty-link" href="/graph?G={{graph}}">How were these suggestions generated?</a>
						</strong></p>
					</div> <!-- /row -->
				</div>
			{% endif %}
		</div> <!-- /row -->

		{% if debug == True %}
			{% if tweet_ids != [] %}
				<div class="row">
					<div class="span12">
						<strong> Word count for {{query}} </strong>
						<br> </br>
						<strong> Total number of words: {{len}}</strong>
					{% for key in keys %}
				    <span class=count>{{ key }} {{ count[key] }} </span>
				  {% endfor %}
					</div>
				</div>
			{% endif %}
		{% endif %}
	</div> <!-- /container -->
</body>
