<!DOCTYPE HTML>

<head>
	<script type="text/javascript" src="/static/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/index.js"></script>
	<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap-responsive.min.css"/>
	<link rel="stylesheet" type="text/css" href="/static/style.css"/>

	<title>cluster-pluck</title>

</head>

<body>
{% block d3 %}{% endblock %}
	<div class="container" role="main">
		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
		    <a class="brand" href="/">cluster-pluck</a>
				<form class="navbar-search pull-right" action="/search">
				  <input type="text" class="search-query" name="q" placeholder="Search" spellcheck="false" autocomplete="off">
				</form>
				<ul class="nav pull-left">
				  <li><a href="/about">About</a></li>
					<li><a target="_blank" href="http://www.twitter.com/search">Twitter</a></li>
				</ul>
		  </div>
		</div>
		{% block body %}{% endblock %}
	</div> <!-- /container -->
</body>

<footer>
	<div class="modal-footer">
		<div class="modal-footer-inner">
			<div class="container">
				<ul class="nav">
					<li><p>Designed and built by Kevin Teh</p></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
