{% extends "layout.html" %}
{% block body %}
	<div class="row">
		<div class="span6 offset3">
			{% if tweet_ids != [] %}
				<h1 class="results_title"> Results for <strong>{{query}}</strong>
				{% if filter != "'" %}
					as in {{filter}}
				{% endif %}
				</h1>
				{% for id in tweet_ids %}
					<blockquote class="twitter-tweet"><a href="https://twitter.com/twitterapi/status/{{id}}"></a></blockquote>
			  {% endfor %}
				{% if next_page != -1 %}
					<a class=" next_link" href="/refine?q={{query}}&filter={{filter}}&page={{next_page}}">
							Next Page
					</a>
				{% endif %}
			{% endif %}
		</div>
	</div> <!-- /row -->
{% endblock %}
