{% extends "layout.html" %}
{% block body %}
	{% if mode != "recs" %}
		<div class="row">
			<div class="span6 offset3">
				{% if tweet_ids != [] %}
					<h1 class="results_title"> Results for <strong>{{query}}</strong>
					{% if mode == "filter" %}
						as in {{filter}}
					{% endif %}
					</h1>
					{% for id in tweet_ids %}
						<blockquote class="twitter-tweet"><a href="https://twitter.com/twitterapi/status/{{id}}"></a></blockquote>
				  {% endfor %}
				{% endif %}
			</div>
		</div> <!-- /row -->
	{% endif %}

	{% if recommendations != [] %}
		<div class="row">
			<div class="span12">
				<div class="hide_seek">
					<div class = "row">
						<div class="span9">
							<h4 class="recs_title">
								Results for <strong>{{query}}</strong> as in...
							</h4>
						</div>
						<div class="span3">
							<span> <a class="all_tweets"href="/search?q={{query}}&filter='">
								Show All Tweets
							</a></span>
						</div>
					</div>

					<div class="row">
						{% for column, clique in recommendations %}
							<div class="span3 offset1">
								<div class="category-wrapper">
									<strong> <a class="pretty-link clique"
															href="/search?q={{query}}&filter={{clique}}">
															{{clique}}
									</a> </strong>
								</div>
							</div>
						{% endfor %}
					</div>

					<div class="row recommendations">
						<div class = "row">
							{% for column, clique in recommendations %}
								<div class="span3 offset1 recommendation_list">
									{% for id in column %}
										<blockquote class="twitter-tweet"><a href="https://twitter.com/twitterapi/status/{{id}}"></a></blockquote>
									{% endfor %}
								</div>
						  {% endfor %}
						</div> <!-- /row -->
					</div> <!-- /row -->
					<div class="row">
						<span id="how_recs"><strong>
							<a class="pretty-link" href="/graph?G={{graph}}">How were these suggestions generated?</a>
						</strong></span>
					</div> <!-- /row -->
				</div>
			</div>
		</div>
	{% endif %}


	<div class="debug">
		{% if tweet_ids != [] %}
			<div class="row">
				<div class="span12">
					<strong> Word count for {{query}} </strong>
					<br> </br>
					<strong> Total number of words: {{len}}</strong>
				{% for key in keys %}
			    <span class=count>{{ key }} {{ count[key] }} </span>
			  {% endfor %}
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
