body {
	padding: 60px;
}

.jumbotron {
  text-align: center;
  margin:40px;
}
.jumbotron h1 {
  font-family: "Helvetica Neue",Arial,sans-serif;
  margin: 30px 0;
  font-size: 36px;
  font-weight: 200;
  color: #444;
  text-align: center;
}
.jumbotron .btn {
  padding: 7px 14px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}


.jumbotron input {
	display: inline-block;
	margin: 0;
	outline: 0;
	width: 620px;
	padding: 7px 9px;
	background-color: #fff;
	border: 1px solid #ccc;
	font-size: 13px;
	line-height: 20px;
	border-radius: 3px;
}

#how_recs{
	float: right;
}

.results_title{
	font-size: 2em;
}

.lower_page{
	position:fixed;
	bottom:0px;
	background-color: #fff;
	margin-top:40px;
	margin-left:0px;
}

.recommendations{
	height:200px;
	overflow:auto;
}

.toggler{
	margin-bottom:5px;
}

.clique{
	font-size: 1.5em;
}

#navbar-search{
	margin-top: 10px;
	margin-right: 10px;
	float: right;
	background: url(/static/search.png) no-repeat scroll right center;
	background-color: white;
}

.link {
  stroke: #ccc;
	stroke-width: 3
}

.node text {
  pointer-events: none;
  font: 14px sans-serif;
}
