<!DOCTYPE HTML>

<head>
	<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap-responsive.min.css"/>
	<link rel="stylesheet" type="text/css" href="/static/style.css"/>

<title>Twitter S.R.E.</title>

</head>

<body>
	<div class="container">

		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
		    <a class="brand" href="/">Twitter S.R.E.</a>
				<form action="/">
					<input class="search-input" type="text" id="navbar-search" placeholder="Search" name="q" autocomplete="off" spellcheck="false">
				</form>
		  </div>
		</div>


	</div> <!-- /container -->
</body>
